/* 色 */
/* 余白 */
/* 幅 */
body {
  margin: 0;
  padding: 0;
}
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
input,
p,
blockquote,
fieldset,
div {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul li,
ol li {
  list-style: none;
}
table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
}
caption {
  text-align: left;
}
table,
pre,
code,
select,
input,
textarea,
kbd,
var,
ins,
del,
samp {
  font-size: 100%;
}
address,
cite,
dfn,
em,
strong,
var,
th,
ins,
del,
samp {
  font-weight: normal;
  font-style: normal;
}
a img {
  border: 0;
}
fieldset {
  border: none;
}
/* base.css */

* {
  background-repeat: no-repeat;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
body {
  -webkit-touch-callout: none;
  color: #221c06;
  font-size: 14px;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
}
img {
  vertical-align: bottom;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:link,
a:visited {
  color: #1460a0;
}
a.locked {
  pointer-events: none;
}
table {
  border-collapse: collapse;
  border: none;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}
th,
td {
  vertical-align: top;
  font-weight: normal;
  text-align: left;
  margin: 0;
  padding: 0;
}
figure,
figcaption {
  display: block;
}
em {
  font-style: normal;
}
.clear {
  clear: both;
}
/* main.css */

html,
body {
  position: relative;
}
#board-page {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
td {
  border: 1px solid black;
}
.grid {
  width: 30px;
  height: 30px;
  position: relative;
  background-color: green;
}
.grid::after {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  top: 2px;
}
.grid.achievable {
  background-color: #00b300;
}
[data-turn="0"] .grid.achievable::after {
  background-color: rgba(255, 255, 255, 0.3);
}
[data-turn="1"] .grid.achievable::after {
  background-color: rgba(0, 0, 0, 0.3);
}
.grid[data-status="white"]::after {
  background-color: white;
}
.grid[data-status="black"]::after {
  background-color: black;
}
