/* base.css */
* {
	background-repeat:no-repeat;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
body {
	-webkit-touch-callout: none;
	color:@default-color;
	font-size: 14px;
	font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
}
img{
	vertical-align:bottom;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
	&:link,
	&:visited{
		color:@link-color;
	}
	&.locked{
		pointer-events:none;
	}
}

table {
	border-collapse: collapse;
	border: none;
	border-spacing: 0;
	margin: 0;
	padding: 0;
}
th, td {
	vertical-align: top;
	font-weight: normal;
	text-align: left;
	margin: 0;
	padding: 0;
}
figure, figcaption {
	display: block;
}
em {
	font-style: normal;
}
.clear{
	clear:both;
}