@import "../less-lib/lib.less";//共通ライブラリ
@import "reset.less";
@import "base.less";
/* main.css */
html,body{
	position: relative;
}
#board-page {
	.user-select(none);
}
td{
	border:1px solid black;
}
.grid{
	width:30px;
	height:30px;
	position:relative;
	background-color:green;
	&::after{
		content:"";
		display:block;
		width:26px;
		height:26px;
		border-radius:50%;
		position:absolute;
		left:2px;
		top:2px;
	}
	&.achievable{
		background-color:lighten(green,10%);
		&::after{
			[data-turn="0"] &{
				background-color:rgba(255,255,255,0.3);
			}
			[data-turn="1"] &{
				background-color:rgba(0,0,0,0.3);
			}
		}
	}
	&[data-status="white"]{
		&::after{
			background-color:white;
		}
	}
	&[data-status="black"]{
		&::after{
			background-color:black;
		}
	}
}
