//----------------------
//変数定義
//----------------------
@frame:83ms;

/* 色 */
@default-color:rgb(34, 28, 6);
@link-color:rgb(20, 96, 160);
@game-title-color:rgb(75, 70, 44);
@game-sub-color:rgb(91, 86, 64);
@star-active-color:rgb(208, 76, 24);
@star-inactive-color:rgb(194, 189, 164);
@write-review-color:rgb(172, 53, 11);
@tag-bg-color-1:rgb(238, 236, 224);
@tag-bg-color-2:rgb(229, 224, 205);
@tag-bg-shadow-color:rgb(185, 182, 165);
@tag-payed-bg-color:rgb(116,146,77);
@footer-bg-color:rgb(226, 223, 204);
@hr-border-color-1:rgb(203, 200, 185);
@hr-border-color-2:rgb(255, 255, 255);
@page-navi-bg-color:rgb(221,218,202);
@res-title-bg-color:rgb(206,202,181);

@review-score-detail-bg-color:rgb(250, 249, 241);
/* 余白 */

/* 幅 */

.payed-tag(){
  background-color:@tag-payed-bg-color;
  color:#FFFFFF;
  padding:2px 3px;
  border-radius: 4px;
  font-size:10px;
}

// CSS3
.box-sizing(@val) {
  -webkit-box-sizing: @val;
     -moz-box-sizing: @val;
          box-sizing: @val;
}
.box-pack(@val) {
  -webkit-box-pack: @val;
     -moz-box-pack: @val;
          box-pack: @val;
}
.box-align(@val) {
  -webkit-box-align: @val;
     -moz-box-align: @val;
          box-align: @val;
}
.box-orient(@val) {
  -webkit-box-orient: @val;
     -moz-box-orient: @val;
          box-orient: @val;
}
.box-flex(@val) {
  -webkit-box-flex: @val;
     -moz-box-flex: @val;
          box-flex: @val;
}
.mask-box-image(@val) {
  -webkit-mask-box-image: @val;
     -moz-mask-box-image: @val;
          mask-box-image: @val;
}
.box-shadow(@val) {
  -webkit-box-shadow: @val;
     -moz-box-shadow: @val;
          box-shadow: @val;
}
.display(@val) when (@val = box) {
  display: ~"-webkit-@{val}";
  display: ~"-moz-@{val}";
  display: @val;
}
.display(@val) {
  display: @val;
}
.transform(@val) {
  -webkit-transform: @val;
     -moz-transform: @val;
          transform: @val;
}
.transition-property(@val) {
  -webkit-transition-property: @val;
     -moz-transition-property: @val;
          transition-property: @val;
}
.transition-duration(@val) {
  -webkit-transition-duration: @val;
     -moz-transition-duration: @val;
          transition-duration: @val;
}
.transition-timing-function(@val) {
  -webkit-transition-timing-function: @val;
     -moz-transition-timing-function: @val;
          transition-timing-function: @val;
}
.transition-property(@val) {
  -webkit-transition-property: @val;
     -moz-transition-property: @val;
          transition-property: @val;
}
.user-select(@val) {
  -webkit-user-select: @val;
     -moz-user-select: @val;
          user-select: @val;
}